#root {
  text-align: center;
  display: grid;
  place-items: center;
  padding-top: 4rem;
  * {
    box-sizing: border-box;
    margin: 0;
  }
}

blockquote {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-style: oblique;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 1rem;
}
