#root {
  text-align: center;
  display: grid;
  place-items: center;
  height: 100vh;
  * {
    box-sizing: border-box;
    margin: 0;
  }
}

blockquote {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-style: oblique;
}

.cardList {
  display: grid;
  /* grid-template-columns: repeat(3, auto); */
  /* gap: 1rem; */
  min-height: 15vh;
  align-items: center;
}

button {
  min-width: 4.8rem;
  max-height: 2rem;
  place-self: center;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
