.size {
  max-height: 310px;
}

.outsideBorder {
  border: 2px solid #5e2a84;
  border-radius: 10px;
  * {
    border-radius: inherit;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration {
  max-width: 10vw;
  aspect-ratio: 1;
}

.grassType {
  background-color: #3fa129;
  padding: 1rem;
}
.grassTypeInner {
  background-color: #82c274;
  padding: 1rem;
}
.grassTypeContent {
  background-color: #eeeeee;
  padding: 0.5rem;
  color: #333333;
}

.undefined {
  margin-bottom: 0.5rem !important;
  padding: 0.4rem;
  background-color: #eeeeee;
  color: #333333;
}

.name {
  font-weight: bold;
  font-size: 14pt;
}
